#login-container {
    height: 470px;
    border-radius: 20px;
    text-align: center;
    padding: 40px 60px;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgb(211, 211, 211);
    margin: 0 auto;
}

#login-title {
    font-size: 25px;
    font-weight: 500;
    text-align: left;

    margin-bottom: 12px;
}

#login-text {
    text-align: left;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 14px;
}


.login-input {
    height: 30px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(240, 239, 239);
    border: none;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
}

.login-input::placeholder {
    color: rgb(211, 211, 211);
    font-size: 15px;
    letter-spacing: 1px;
}

.login-input-names {
    text-align: left;
    font-weight: light;
    margin-bottom: 10px;
    color: rgb(85, 85, 85);

}

.submit-btn {
    margin-top: 22px;
    margin-bottom: 22px;
    height: 45px;
    width: 270px;
    background-color: #3985d6;
    color: white;
    border: none;
    border-radius: 22.5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 400;
    padding: 5px;
}

.submit-btn:hover {
    color: #3985d6;
    background-color: white;
    border-color: #3985d6;
    border: 2px solid;

}

.submit-btn:active {
    background-color: rgb(227, 227, 227);
}

#text {
    color: rgb(51, 51, 51);
    font-size: 12px;
}

#register-link {
    color: #3985d6;
    font-size: 12px;
}

#register-link:active {
    color: rgb(129, 129, 129);
}